#dpts-and-products{
    display: flex;
    margin: 30px 10px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 10px 30px 20px 10px;
    min-width: 80px;
    background-color: rgb(255, 255, 255);
}

.product-card{
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    max-width: 240px;
    background-color: white;
    box-shadow: 2px 2px 15px 2px rgb(223, 222, 222);
}

.product{
    font-size: .8rem;
    margin-top: 10px;
    font-weight: bolder;
}

.deets{
    font-size: .7rem;
}

.price{
    font-size: 1rem;
    font-weight: bolder;
}

.shipping{
    font-size: .5rem;
    color: gray;
}

.product, 
.deets, 
.price, 
.shipping, 
.watch{
    margin-left: 2rem;
    font-family: inherit;
    margin-bottom: 10px;
    padding-right: 20px;
    justify-content: center;
}

.watch{
    background-color: white;
    color: blue;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .6rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.watch:hover{
    background-color: cornflowerblue;
}

.heart-btn{
    margin-right: 5px;
}