.search{
    padding: .7rem 1.5rem;
    /* min-width: 50%; */
    border-radius: 50px;
    background-color: rgb(231, 229, 229);
    color: black;
    font-size: .8rem;
    font-family: inherit;
    border: none;
    outline: none;
}

/* ________________ TABLET VIEW______________ */
@media only screen and (min-width: 600px){
    .search{
        padding: .7rem 2.5rem;
        }
}



/* _______________DESKTOP VIEW_________________ */
@media only screen and (min-width: 768px){
    .search{
    padding: .8rem 5rem .8rem 3rem;
    }
}