footer{
    background-color: rgb(1, 1, 44);
}

ul{
    list-style: none;
}

.pages-container{
    display: flex;
    justify-content: flex-end;
    color: white;
    /* width: 82%; */
}

.pages{
    font-size: 20px;
}

.pgs{
    font-size: 15px;
    margin: 30px 5px 0 30px;
}

.pages-listing, 
.dsnr{
    margin-bottom: 10px;
}

.designer-container{
    margin: 30px 20px 30px 40px;
}

.dsnr__list{
    display: flex;
}

.designer{
    font-size: 20px;
}

.col-2dsnr{
    margin-left: 20px;
}

.cn-soc{
    margin: 30px 3px 0 5px;
}

.address{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.address-icon{
    font-size: 40px;
    margin-right: 10px;
}

.phone{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.phone-icon{
    font-size: 30px;
    margin-right: 10px;
}

.socials{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.twtr{
    font-size: 30px;
    margin-right: 10px;
}

.fbk{
    font-size: 30px;
    margin-right: 10px;

}

.lkdn{
    font-size: 30px;
    margin-right: 10px;
}



/* ____________TABLET VIEW__________ */
@media only screen and (min-width: 600px){
    .pages-container{
        width: 100%;
    }

    .pages{
        font-size: 25px;
    }

    .pages-listing{
        margin-bottom: 20px;
    }

    .designer{
        font-size: 25px;
        letter-spacing: 3px;
    }

    .dsnr{
        margin-bottom: 18px;
    }

    .cn-soc{
        margin: 30px 30px 0 5px;
    }
    
    .address, 
    .phone{
        margin-bottom: 4rem;
    }
    
    .address-icon{
        font-size: 35px;
    }
}


/* ____________DESKTOP VIEW__________ */
@media only screen and (min-width: 600px){
    .pages-container{
        width: 88%;
    }

    .pgs{
        margin-right: 3rem;
    }

    .pages{
        font-size: 25px;
    }

    .pages-listing{
        margin-bottom: 20px;
    }

    .designer-container{
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .designer{
        font-size: 25px;
        letter-spacing: 3px;
    }

    .dsnr{
        margin-bottom: 18px;
    }

    .col-2dsnr{
        margin-left: 40px;
    }

    .cn-soc{
        margin: 30px 30px 0 5px;
        margin-left: 30px;
    }
    
    .address, 
    .phone{
        margin-bottom: 4rem;
    }
    
    .address-icon{
        font-size: 35px;
    }
}