.product___deets{
    min-height: 80vh;
}

.name-sect{
    display: flex;
    justify-content: space-between;
}

.deets__img{
    width: 80%;
}

.product__descrip{
    margin: 30px;
    line-height: 36px;
    text-align: justify;
}

.ratings__star{
    display: flex;
    align-items: center;
}

.star__image{
    margin-bottom: 5px;
}

.size___sect{
    display: flex;
}

.size-btn{
    background-color: lightgray;
    color: blue;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: .6rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.add___tocart{
    background-color: lightsalmon;
    color: black;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


/* _____________TABLET VIEW ___________ */
@media only screen and (min-width: 600px){
    .deets__img{
        width: 50%;
    }
}


/* _____________DESKTOP VIEW ___________ */
@media only screen and (min-width: 768px){
    .deets__img{
        width: 25%;
    }
    
    .name-sect{
        justify-content: space-around;
    }

    .product__descrip{
        margin: 30px 50px;
    }
}